.app-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.sort-select {
  margin-bottom: 1rem;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #da190b;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.username {
    margin-right: 1rem;
}